.loginUserMain {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://res.cloudinary.com/dzpmknjnj/image/upload/v1713187173/Login_Backdrop_02_wsqerd.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right;
}

.loginUserMain .LoginUserMain_inputDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding-top: 10px;
}

.loginUserMain .submitButtonDiv_register {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.loginUserMain .submitButtonDiv_login {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}
