.loginUserMain {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://res.cloudinary.com/dzpmknjnj/image/upload/v1713187173/Login_Backdrop_02_wsqerd.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right;
}

.loginUserMain .inputFormForm {
    width: 300px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    box-shadow: white 0 0 10px;
    border-radius: 10px;
    background-color: #c6c9d0;
}

.loginUserMain .inputFormForm div {
    display: flex;
    margin: 10px 0;
    justify-content: center;
}

.loginUserMain .inputFormForm input {
    width: 240px;
    height: 30px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 0 10px;
    border: 1px solid #5a5f6d;
}

.loginUserMain .inputFormForm button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #5a5f6d;
    background-color: #858585;
    cursor: pointer;
    transition: 0.2s;
    margin: 0 16px;
    font-weight: bold;
    color: white;
}

.loginUserMain .inputFormForm button:hover {
    background-color: #13d9e3;
}
