.changeMapMarkerType {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.changeMapMarkerType .changeMapMarkerTypeTitle {
    margin: 20px 0 0 0;
    padding: 0;
}

.changeMapMarkerType .changeMapMarkerTypeTop {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
}

.changeMapMarkerType .changeMapMarkerTypeSelectionGalleries {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.changeMapMarkerType .changeMapMarkerTypeTop .addMapMarkerTypeForm .deleteButton {
    color: red;
}
