.mapMarkerUpdateWindow {
    position: absolute;
    left: 100px;
    top: 200px;

    width: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    z-index: 30;
    border-radius: 10px;
    border: 1px solid black;
}

.mapMarkerUpdateWindow .deleteButton {
    color: red;
}
