.mapMarkerListItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid #e0e0e0;
}

.mapMarkerListItem .icon {

}

.mapMarkerListItem .visibleToOwnerOnly_ownerOnly,
.mapMarkerListItem .visibleToEveryone_ownerOnly {
    color: #ff0000;
}

.mapMarkerListItem .visibleToEveryone_everyone,
.mapMarkerListItem .visibleToOwnerOnly_everyone {
    color: #00ff00;
}
