.editorToolBar {
    position: sticky;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid lightgrey;
}

.editorToolBar .editorToolBarButton {
    margin-right: 0;
    text-align: center;
}

.editorToolBar .is-active {
    background-color: #616161;
}

