.headerDraggableFrame {
    display: flex;
    padding: 0 0 0 5px;
    cursor: move;
    background-color: #2196F3;
    color: white;
    justify-content: flex-end;
    border-bottom: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.headerDraggableFrame .closeWindowButton {
    border:none;
    border-top-right-radius: 10px;
    cursor: pointer;
}