.articleCard {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 10px;
    overflow: scroll;

}

.articleCard .articleContent {
    flex: 1;
    white-space: pre-wrap;
}