.articleCard {
    display: flex;
    flex-direction: column;
    height: 95%;
    padding-top: 10px;
    overflow: scroll;
    overflow-x: hidden;
}

.articleCard .articleContent {
    flex: 1;
    white-space: pre-wrap;
}