.headerDraggableFrame {
    display: flex;
    padding: 0 0 0 5px;
    cursor: move;
    background-color: #2196F3;
    color: white;
    justify-content: flex-end;
    border-bottom: 1px solid black;
}

.headerDraggableFrame .closeWindowButton {
    border:none;
    cursor: pointer;
}


