.headerDraggableFrame {
    display: flex;
    padding: 0 0 0 5px;
    cursor: move;
    background-color: #0B6BCB;
    color: white;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.headerDraggableFrame .closeWindowButton {
    border:none;
    cursor: pointer;
}


