.mapMarkerIconButton, .mapMarkerIconButtonSelected {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80px;
    height: 80px;

    text-align: center;
    background-color: transparent;
    border: none;
    margin: 5px;
}

.mapMarkerIconButton{
    filter: drop-shadow(0 0 2px yellow);
}

.mapMarkerIconButtonSelected{
    border-radius: 50px;
    filter: drop-shadow(0 0 2px lawngreen);

    box-shadow: 0 0 20px #6acae8;
    z-index: 20;
}

